

@font-face {
    font-family: 'Metropolis';
    src: url('/static/fonts/metropolis/Metropolis-Regular.otf') format('truetype');
    font-weight: normal;
}


@font-face {
    font-family: 'Noto Sans';
    src: url('/static/fonts/noto-sans/NotoSans-Regular.ttf') format('truetype');
}